#progress_container {
  width: 100%;
  margin: 0 auto;
}
.hello-section-progress {
  width: 100% !important;
}

@media screen and (min-width: 500px) {
  #course-progress-imga_text {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  #progress_container {
    display: flex;
  }
  .hello-section-progress {
    width: 45% !important;
  }
}
