.filterContainer {
  width: clamp(200px, 100%, 500px) !important;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
label {
  margin: 5px;
  /* background-color: azure; */
  border-radius: 10px;

  color: darkblue;
  font-family: 'monospace';
}

option {
  color: darkblue;
  font-family: 'monospace';
}
#Categories {
  color: darkblue;
  font-family: 'monospace';
}
select {
  height: 30px;
}

#btnDiv {
  padding: 20px;
  background-color: antiquewhite;
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
  width: 25vw;
}
