#coursesContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 768px) {
  #coursesContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  #coursesContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
#card-image__container {
  width: 100%;
  height: 200px;
}
#card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
